{% load tag_library %}
<a href="{% url 'mywork' month_previous.year month_previous.month month_previous.day %}">前月</a>
{{ month_current | date:"Y年m月" }}
<a href="{% url 'mywork' month_next.year month_next.month month_next.day %}">次月</a>

<table class="table" style="table-layout: fixed;">
    <thead>
      <tr>
          {% for w in week_names %}
                  {% if w == '土' %}
                      <td class="table-primary text-center">
                  {% elif w == '日' %}
                      <td class="table-success text-center">
                  {% else %}
                  <th class="table-info text-center">
                  {% endif %}
                   {{ w }}</th>
              {% endfor %}
      </tr>
    </thead
    <tbody>
    {% for week in month_days %}
        <tr class="text-center">
            {% for day in week %}
            {% if day|jpholiday %}
                     <td class='table-danger'>
            {% elif day.weekday == 6 %}
                     <td class='table-danger'>
            {% elif day.weekday == 5 %}
                     <td class='table-primary'>
            {% else %}
            <td>
            {% endif %}
            {% if day|day_my_shift:user %}
            <div class="maru size_normal pink1">
              <div class="letter3">
            {% endif %}
                 <a href="{% url 'mywork' day.year day.month day.day %}">
                   {% if month_current.month != day.month %}
                        {{ day | date:"m/d" }}
                   {% else %}
                        {{ day.day }}
                   {% endif %}
                  </a>
                </div>
</div>
<style>
  .maru {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-flow: column;
    vertical-align: top;
  }
  .size_normal{
  width: 30px;
  height: 30px;
}
.letter3 {
  font-size: 1em;
}
.pink1 {
  color: black;
  border: 1px solid black;
}
</style>

                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
